html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
   in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: #231651;
/* Use a system font, if none are available use an available sans-sarif   font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  text-align: center;
  font-size: 20px;
  width: 400px;
  height: 640px;
  background-color: white;
}


#status {
  display: flex;
  justify-content: flex-end;
  margin: 15px 15px;
}

img {
  border-radius: 50%;
  border: 3px solid #8E7C93;
  margin-top: 2px;

}

#name {
  font-size: 35px;
}

#occupation {
  padding: 25px;
  background-color: lightgray;
  margin: 40px 0;
}

#occupation > p {
  margin: 0;
}

#brand{
  display: none;
}

#offer {
  margin-top: 30px;

}
#offer > p {
  margin: 10px;
  padding: auto;
}

#contact {
  display: flex;
  margin-top: 40px;
}

#contact > p {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 45px;
  width: 50%;
  height: 70px;
}

#contact > p:first-child {
  background-color: #D0A5C0;
}

#contact > p:last-child {
  background-color: #8E7C93;
}

@media only screen and (min-width: 768px) {

  main {
    text-align: left;
    width: 800px;
    height: 510px;
    background-color: white;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "status name"
    "img occupation"
    "img brand"
    "contact offer";
  }

  #status {
    grid-area: status;
    justify-content: flex-start;
  }

  img {
    grid-area: img;
    margin: auto;
    width: 80%;

  }
  
  #name {
    grid-area: name;
  }
  
  #occupation {
    grid-area: occupation;
  
  }
  
  #brand{
    grid-area: brand;
    display:  inline-block;
  }
  
  #offer {
    grid-area: offer;
    height: fit-content;
  
  }
  #offer > p {
    margin: 10px;

  }
  
  #contact {
    grid-area: contact;
    height: fit-content;

  }
}
